body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  color: #1b1b1b;
}

div {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.media-image {
  display: block;
  max-width: 90%;
  margin: 20px auto;
  border-radius: 10px;
}

.video-wrap {
  position: relative;
  width: 90%;
  margin: 20px auto;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
}

